@import "../css/colors.scss";

#github {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: space-around;

  button {
    background: $darkRed;

    #login {
    }

    #save {
    }

    #load {
    }
  }
}
