@import "./css/_functions.scss";
@import "./css/colors.scss";

html,
body {
  background-color: ui("background");
  margin: 0;
  padding: 0;
  display: flex;
}

#game {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}

#screen {
  image-rendering: pixelated;
  //height: 100vh;
}

#temp-image {
  position: absolute;
  bottom: 110px;
  right: 10px;
  max-width: 10vmax;
  max-height: 10vmax;
  z-index: 10;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid ui("tempImage");

  &.zoomed {
    max-width: 100vmax;
    max-height: 100vmax;
  }

  &-canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

.hidden {
  display: none;
}

#stats {
  max-height: 500px;
  overflow: auto;
  position: fixed;
  top: 20px;
  right: 10px;
  background: #036;
  border: 1px dashed #fff;
  color: #fff;
  padding: 6px;
}
