@import "@/css/_functions.scss";
@import "@/css/colors.scss";

body {
  background-color: ui("background");
}

#game {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}

#screen {
  image-rendering: pixelated;
}

#temp-image {
  position: absolute;
  bottom: 110px;
  right: 10px;
  max-width: 10vmax;
  max-height: 10vmax;
  z-index: 10;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid ui("tempImage");

  &.zoomed {
    max-width: 100vmax;
    max-height: 100vmax;
  }

  &-canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

#info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: ui("info");
  position: absolute;
  left: 10px;

  & span {
    color: color("white");
  }
}

#version {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: ui("text");
  position: absolute;
  bottom: 10px;
  right: 10px;

  & span {
    color: ui("version");
  }
}

.hidden {
  display: none;
}
